<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubhouse</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="index-card-container">
    <div class="index-card">
    <h1>The Clubhouse</h1>
    <div></div>

    <% if (locals.user) { %>
        <div>Welcome back, <%= locals.user.first_name %>.</div>
    <% } %>

    <% if (locals.user) { %>
    <div>You are:</div>
    <ul>
        <% if (locals.user.is_member == true) { %>
        <li>A member</li>
        <% } %>

        <% if (locals.user.is_member == false) { %>
        <li>Not a member</li>
        <% } %>

        <% if (locals.user.is_admin == false) { %>
        <li>Not an admin</li>
        <% } %>

        <% if (locals.user.is_admin == true) { %>
        <li>An admin</li>
        <% } %>
    </ul>
    <% } %>

    <% if (!locals.user) { %>
        <a href="/signup">Sign up</a>
        <div></div>
        <a href="/login">Login</a>
        <div></div>
        <% } %>

    
       <% if (locals.user) { if (locals.user.is_member == false) { %>
    <a href="/join">Join the club!</a>
    <div></div>
     <% }} %>

     <% if (locals.user) { if (locals.user.is_admin == false) { %>
        <a href="/admin-signup">Sign-up to be an admin!</a>
        <div></div>
         <% }} %>

    <% if (locals.user) { %>
    <a href="/message-board">Message board</a>
    <div></div>
    <a href="/log-out">Log out</a>
    <div></div>
    <% } %>
    </div>
</div>
</body>
</html>