<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join the club!</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div>Join the club by entering the secret password below!</div>
    <form method="post">
        <label for="secretpassword">Secret Password</label>
        <input name="secretpassword">
        <button type="submit">Submit</button>
    </form>
</body>
</html>