<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failed to join.</title>
</head>
<body>
    <div>Sorry, that's the wrong password.</div>
    <a href="join">Try again?</a>
    <div></div>
    <a href="/">Home</a>
</body>
</html>